<div class="container">
    <div *ngIf="message" class="alert alert-success alert-dismissible fade show d-flex justify-content-center" role="alert">
        Data Successfuly Submitted
    </div>
    <div *ngIf="isLoading" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div *ngFor="let data of data" class="card">
        <h5 class="card-header">Summary</h5>
        <div class="card-body">
            <h2 class="mb-4">Step 1</h2>
            <div class="row mb-4">
                <div class="col-md-6">
                    <h6>First Name:</h6>
                    <p class="card-text mb-4"> {{data.firstname}} </p>
                </div>
                <div class="col-md-6">
                    <h6>Last Name:</h6>
                    <p class="card-text"> {{data.lastname}} </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h6>Phone Number:</h6>
                    <p class="card-text mb-4"> {{data.phone}} </p>
                </div>
                <div class="col-md-6">
                    <h6>Email:</h6>
                    <p class="card-text"> {{data.email}} </p>
                </div>
            </div>
            <hr>
            <h2 class="mb-4">Step 2</h2>
            <div class="row mb-4">
                <div class="col-md-6">
                    <h6>National ID:</h6>
                    <p class="card-text mb-4"> {{data.nationalID}} </p>
                </div>
                <div class="col-md-6">
                    <h6>KRA Pin:</h6>
                    <p class="card-text"> {{data.KRA}} </p>
                </div>
            </div>
            <hr>
            <h2 class="mb-4">Step 3</h2>
            <div class="row mb-4">
                <div class="col-md-4">
                    <h6>Company Name:</h6>
                    <p class="card-text mb-4"> {{data.companyName}} </p>
                </div>
                <div class="col-md-4">
                    <h6>Company Location:</h6>
                    <p class="card-text mb-4"> {{data.companyLocation}} </p>
                </div>
                <div class="col-md-4">
                    <h6>Company Revenue:</h6>
                    <p class="card-text mb-4"> {{data.companyRevenue}} </p>
                </div>
            </div>
        </div>
    </div>
</div>