<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Multi-Step Form</h1>
        <p class="lead">This is a simple Multi-step Form</p>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="step-one" routerLinkActive="active">Step 1 <i class="fas fa-chevron-right"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="step-two" routerLinkActive="active">Step 2 <i class="fas fa-chevron-right"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="step-three" routerLinkActive="active">Step 3 <i class="fas fa-chevron-right"></i></a>
            </li>
        </ul>
    </div>
</div>