<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Multi-Step Form</h1>
        <p class="lead">This is a simple Multi-step Form</p>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Step 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Step 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Step 3</a>
            </li>
        </ul>
    </div>
</div>